.post-app {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 170px;
  margin-left: 15.7rem;
  margin-bottom: 0.1rem;
}

.post-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  border-radius: 5%;
  font-size: 20px;
}

.post-button {
  margin-left: 824px;
  width: 75px;
  background-color: #0eb2fc;
  color: white;
  border-color: #0eb2fc;
}

.post {
  font-size: 20px;
  padding: 10px;
}

#username {
  font-weight: bold;
}

.task-input {
  font-size: 20px;
}
